:root{
    background-color:  #000;;
}
.heading p{
    color: #FFF;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.details p{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
}
input{
    background-color: transparent;
    color: #FFF;
    outline: none;
    border: none;
    border-bottom: 2px solid #FFF;
    width: 60%;
}
button{
    width: 226px;
height: 58px;
flex-shrink: 0;
margin-top: 15px;
}
button p{
    font-size: 24px;
}
#error{
    color: #FF4F4F;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: 15px;
}
input:focus{
    background-color: transparent;
    color: #FFF;
}